*{
    margin: 0;
    padding: 0;
}

html {
    overflow-y: hidden;

}

body {
    background-image: url("imgs/starry-back.jpg");
    background-repeat: repeat;
    background-size: 50% 50%;
}


#background {
    background-color: transparent;
    
    width: 3000px;
    height: 100vh;
}

.small-star {
    width: 15px;
    height: auto;
}

#star-1 {
    position: absolute;
    top: 50vh;
    left: 300px;
}

#star-2 {
    position: absolute;
    top: 20vh;
    left: 2500px;
    width: 25px;
}

#star-3 {
    position: absolute;
    top: 75vh;
    left: 1500px;
    width: 30px
}

#twitter-cont {
    background-image: url("imgs/twitter-const-4.png");
    background-size: 250px 250px;

    width: 250px;
    height: 250px;

    position: absolute;
    top: 20%;
    left: 500px;

    transform: rotate(20deg);
    border-radius: 50px;
}

#twitter-cont:hover {

    background-image: url("imgs/twitter-const-4h.png");
    background-size: 250px 250px;
    /* background-color: black;*/

    transform: scale(1) rotate(20deg);

    /* border-radius: 50px;
    box-shadow: 0px 0px 40px 10px rgba(255,255,255,0.32); */
}

/*
    Idea: Use constellations to represent each entity
    - twitter constellatoin
    - facebook constellation
    - email constellation

    What would represent the data chnaging:
        - stars becoming brighter?
        - stars moving and bumping into eachother (with lines connected could be really difficult)
        - constellation could be in shape of company logo

    also use planets, shooting starts, black holes

    New Idea: Add setInterval Time to display errorTimeOut module as joke
        - force login... (fake of course)

*/
