*{
    margin: 0;
    padding: 0;
}

html {
    overflow-y: hidden;

}

body {
    background-image: url("imgs/starry-back.jpg");
    background-repeat: repeat;
    background-size: 50% 50%;
}


#background {
    background-color: transparent;
    
    width: 3000px;
    height: 100vh;
}

.small-star {
    width: 15px;
    height: auto;
}

#star-1 {
    position: absolute;
    top: 50vh;
    left: 300px;

}

#star-2 {
    position: absolute;
    top: 20vh;
    left: 2500px;
    width: 25px;
}

#star-3 {
    position: absolute;
    top: 75vh;
    left: 1500px;
    width: 30px
}

/*
*      TWITTER
*           - each flash is 10,000 tweets
*           - 1.25 seconds between flashes
*           - = 8,000 tweets per second
*/

#twitter-cont {
    background-image: url("imgs/twitter-const-4.png");
    background-size: 250px 250px;

    width: 250px;
    height: 250px;

    position: absolute;
    top: 20%;
    left: 500px;

    transform: rotate(20deg);
    border-radius: 50px;

    opacity: .5;

    animation: twitter 1.25s infinite;
    animation-delay: 1.25s;

}

#twitter-cont:hover {

    background-image: url("imgs/twitter-const-4h.png");
    background-size: 250px 250px;
    /* background-color: black;*/

    transform: scale(1) rotate(20deg);

    opacity: 1;

    animation: none;
}

@keyframes twitter {
    0% {
        opacity: .5;
    }

    5% {
        opacity: 1;
    }

    10% {
        opacity: .5;
    }


    100% {
        opacity: .5;
    }

}

/*
    Idea: Use constellations to represent each entity
    - twitter constellatoin
    - facebook constellation
    - email constellation

    What would represent the data chnaging:
        - stars becoming brighter?
        - stars moving and bumping into eachother (with lines connected could be really difficult)
        - constellation could be in shape of company logo

    also use planets, shooting starts, black holes

    New Idea: Add setInterval Time to display errorTimeOut module as joke
        - force login... (fake of course)

*/

/*

STATS:
    do by the per second stat
    every x number things happen star flash
    x = 10,000?

    https://www.internetlivestats.com/one-second/
    https://www.zettasphere.com/mind-boggling-stats-for-1-second-of-internet-activity/
    https://www.omnicoreagency.com/snapchat-statistics/

Twitter 
    6,000 tweets per second
    350,000 tweets per minute
    500M tweets per day

    8,751 tweets per second (1st link)
    5,700 tweets per second (2nd link) outdated

Facebook
    54,977 posts per second (2nd link)

Instagram
    956 photos per second (1st link)
    694 photos per second (2nd link)

SnapChat
    ~20,000 videos shared per second (3rd link)

Email
    2,859,696 sent per second (1st link)
    3,400,000 sent per second (2nd link)

Youtube
    1 hour (3600 seconds) of video posted per second


Google Searches
    78,932 per second (1st link)
    68,542 per second (2nd link)
*/
